@{
    ViewBag.Title = "Weather Now!";
}

<div class="row">
    <div class="col-md-12">
        <h1 id="temperature"></h1>
        <h2 id="description"></h2>
        <h4 id="range"></h4>
        <p id="location"></p>
    </div>
</div>

<script src="@Url.Content("~/Scripts/Weather/app.js")" type="text/javascript"></script>